fastapi==0.129.0
uvicorn==0.41.0
Wikipedia-API==0.9.0
spacy==3.8.11
groq==1.0.0
python-dotenv==1.2.1
pydantic==2.12.5
requests==2.32.5
beautifulsoup4==4.14.3
lxml
upstash-redis==1.6.0
cachetools==7.0.3
slowapi==0.1.9
